body{
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

ul li{
  color: pink;
}

.navbar-brand{
    box-sizing: border-box;
    overflow: auto;
    padding: 18px 50px;
    position: relative;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 999;
    color:#FFFFFF;
}

#imagenEncabezado{
  width: 50px;
  height: 50;
  align-content: top;
  display: inline-block;
}

#sobreMi {
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  width: 600px;
  height: 600px;
  overflow: visible;
}

#intereses{

}

.carousel-caption{
      background-color:#FFFFFF;
      color:#CC0000;
      position:absolute;
      text-align:center;
      top:50px;
      left:40px;
      padding:65px;
      font-size:50px;
      font-weight:bold;
      width:500px;
}


h2 {
  border: 1px dotted red;
  color: red;
  font-size: 16px;
  line-height: 48px;
  padding: 20px 30px;
  margin: 30px 40px;
  text-align: center;
}

h1 {
   color: #004E89;
  font-family: 'Yantramanav', sans-serif;
  font-size: 50px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

p {
  color: black;
  font-size: 12px;
  line-height: 20px;
  margin-top: 40px;
  padding: 10px 10px;
  text-align: justify;
}


.pull-quote {
  margin: 0 auto;
  width: 500px;
}

.byline {
  border-bottom: 1px solid LightGrey;
  border-top: 1px solid LightGrey;
  color: DarkGrey;
  font-size: 14px;
  font-weight: 200;
}

.share {
  border: 1px solid LightGrey;
  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 100%;
     /* The image used */
    background-image: url("http://www.executiverentacar.com.co/images/uploads/candelaria-bogota.jpg");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 60;
}

.share a {
  background: black;
  border: 1px solid black;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}

#uno {
  color: #AAA;
  font-family: 'Yantramanav', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}











